{
  "importOrder": [
    "^react(.*)$",
    "^routes/(.*)$",
    "^models/(.*)$",
    "^contexts/(.*)$",
    "^hooks/(.*)$",
    "^components/(.*)$",
    "^[./]+([a-zA-Z0-9/]+)(?!css)$",
    "^[./]+",
    "^(.*)css$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
