{
  "importOrder": [
    "^react(.*)$",
    "^@heroicons",
    "^core/(.*)$",
    "^api/(.*)$",
    "^hooks/(.*)$",
    "^pages/(.*)$",
    "^components/(.*)$",
    "^[./]+([a-zA-Z0-9/]+)(?!css)$",
    "^[./]+",
    "^(.*)css$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
